{% macro step_case(step) %}
  <div class="step-case">
    {% if step.case %}
      {% set code, name, section = step.case|parse_case_name(step.name) %}
      {% if 'SKIP' not in code %}
        <div class="step-case-img">{{ step.case_infos.0 or code }}</div>
        <a href="https://cubing.fache.fr/{{ section }}/{{ code }}.html"
           target="_blank" class="link">
          {{ name }}
        </a>
      {% else %}
        <span class="skip">SKIP</span>
      {% endif %}
    {% elif step.case_infos %}
      <div class="step-case-img">{{ step.case_infos.0 }}</div>
    {% else %}
      <div class="step-case-img">N/A</div>
    {% endif %}
  </div>
{% endmacro %}
