{% macro step_case(step) %}
  <div class="step-case">
    {% if step.cases %}
      {% set code, name = step.cases[0]|parse_case_name(step.name) %}
      {% if 'SKIP' not in code %}
        <div class="step-case-img">{{ code }}</div>
        <a href="https://cubing.fache.fr/{{ step.name.upper() }}/{{ code }}.html"
           target="_blank" class="link">
          {{ name }}
        </a>
      {% else %}
        <span class="skip">SKIP</span>
      {% endif %}
    {% else %}
      <div class="step-case-img">N/A</div>
    {% endif %}
  </div>
{% endmacro %}
