{% macro step_case(step) %}
  <div class="step-case">
    {% if step.case %}
      {% set case = step.name|get_step_case(step.case) %}
      {% if case.code != 'SKIP' %}
        <div class="step-case-img">{{ case.code }}</div>
        <a href="{{ case.cubing_fache_url }}" target="_blank" class="link">
          {% if case.aliases %}
            {{ case.aliases[0] }}
          {% else %}
            {# Should be activated for F2L #}
            {{ ", ".join(step.case_infos) }}
          {% endif %}
        </a>
      {% else %}
        <span class="skip">SKIP</span>
      {% endif %}
    {% else %}
      <div class="step-case-img">N/A</div>
    {% endif %}
  </div>
{% endmacro %}
