{% extends "skeleton.html" %}
{% from 'macros/display_selectors.html' import display_selectors %}

{% block title %}{{ method }}/{{ step }} Cases{% endblock %}
{% block subtitle %}
  <a class="academy-header" href="/academy/?o={{ orientation_faces }}&p={{ palette }}">Academy</a>
  {{ method }} / {{ step }}
{% endblock %}

{% block description %}
Learn all {{ method }}: {{ step }} cases with algorithms and variations on {{ cube_size }}x{{ cube_size }}x{{ cube_size }} cube.
{% endblock %}

{% block selectors %}
{% if DEBUG %}
{{ display_selectors(available_orientations, orientation_faces,
                     available_modes, mode,
                     available_cube_sizes, cube_size,
                     available_palettes, palette) }}
{% endif %}
{% endblock %}

{% block body %}
<main class="step-cases">
  <section class="step-header">
    <h2>
      {{ cube_size }}x{{ cube_size }}x{{ cube_size }} {{ method }} / {{ step }}
      <span class="step-stats case-count">{{ cases|length }} Cases</span>
    </h2>
    <p class="step-description">
      {{ step_info.description }}
      {% if group %}
        <span class="solve-detail-btn">Group: {{ group }}</span>
      {% endif %}
      {% if family %}
        <span class="solve-detail-btn">Family: {{ family }}</span>
      {% endif %}
    </p>
  </section>

  {% for family, cases in tree.items() %}
  <h3 id="step-{{ familly }}" class="family">
    <a href="/academy/{{ method }}/{{ step }}/?o={{ orientation_faces }}&p={{ palette }}&family={{ family }}">
      <i class="fa-solid fa-layer-group"></i>
      {{ family }}
    </a>
  </h3>

  <section class="cases-grid">
    {% for case in cases %}
    <div class="case-card">
      <a href="/academy/{{ method }}/{{ step }}/{{ case.code }}/?o={{ orientation_faces }}&p={{ palette }}">
        <div class="case-card-header">
          <h3>
            {{ case.pretty_name }}
          </h3>
          <div class="case-code">{{ case.code }}</div>
        </div>

        <div class="case-img cube-frame">
          <img src="/cube/?case={{ case.main_algorithm }}&c={{ cube_size }}&o={{ orientation_faces }}&m={{ mode }}&p={{ palette }}&arrows={{ case.arrows }}">
        </div>

        <div class="case-algorithm">
          <code>{{ case.main_algorithm }}</code>
        </div>

        <p class="case-meta">
          <i class="fas fa-cube"></i>
          {{ case.algorithms|length }} algorithms
        </p>
      </a>
    </div>
    {% endfor %}
  </section>
  {% endfor %}
</main>
{% endblock %}
